################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/API/.vs/API/config
/API/.vs/API/copilot-chat/bd9e0ef5/sessions
/API/.vs/API
/API/bin/Debug/net10.0
/API/obj
/Application/bin/Debug/net10.0
/Application/obj
/Domain/bin/Debug/net10.0
/Domain/obj
/DTO/bin/Debug/net10.0
/DTO/obj
/Infrastructure/bin/Debug/net10.0
/Infrastructure/obj
/.vs/API
/.vs/backend/config
/.vs/backend/copilot-chat/bd9e0ef5/sessions
/.vs/backend/CopilotIndices/17.14.1561.44479
/.vs/backend/DesignTimeBuild
/.vs/backend/FileContentIndex
/.vs/backend/v17
/.vs/KeycloakAuthentication/CopilotIndices/17.14.1561.44479
/.vs/KeycloakAuthentication/FileContentIndex
/.vs/KeycloakAuthentication/v17
/.vs/ProjectEvaluation
